body{
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}
header{
color: white;
text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.363)
    ;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}